
.grid-container {
    display: flex;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(16, 25px [col-start]);
    
    
}

.grid {
    padding: 11px;
    border: .1px solid black;
    
    
}

/* .grid:hover {
    background-color: gray;
} */
