html {
    height: 100vh;
}
    
.grid-container {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    display: grid;
}

.grid {
    padding: 11px;
    border: .1px solid black;
}

